.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  min-height: 600px;
  max-height: 756px;
  display:flex;
  height: 100vh;
  position: relative;
background-color:#f2f2f2;
}

.logo{
  width:228px;
  height:32px;
}

.logo_place_header{
  position:absolute;
  top:30px;
  left:64px;
  }

.header__title {
  display:flex;
  width:730px;
  font-size:102px;
  line-height:96px;
  left:64px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  position:relative;
  font-style: 600px;
  z-index: 3;
 }

.header__subtitle {
  position: absolute;
  left:64px;
  width:388px;
  font-size:18px;
  bottom:30px;
  line-height:25px;
  font-style: normal;
  font-weight: normal;
  z-index: 3;
 margin: 0;
}

.header__link{
  color:#2f80ed;
text-decoration: none;
}

.header__link::after{
  content: '\2192';
  color:#2f80ed;
}

.header__main-illustration{
  position: absolute;
  width:765px;
  height:608px;
  z-index:1;
  border: 0;
  right:0px;
  bottom:0px;
}

.header__square-pic{
height: 568px;
width: 568px;
top:64px;
right:0;
background-color:#2f80ed;
position: absolute;
z-index: 0;
}

.description {
  margin-top: 100px;
  display: flex;
  place-content: center;
  border:0;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  }

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-style: normal;
  max-width: 175px;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent {
  font-weight: bold;
  }

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
  padding-top: 0;
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-top: 30px;
  margin-bottom: 0;
}

.digits{
 position: relative;
 padding-top: 100px;
 margin-bottom: 100px;
}

.section-title {
 
  width: 60%;
  text-align: center;
  font-size:60px;
  font-weight: bold;
  font-style: 600px;
  line-height: 1.15;
  margin: 0 auto;
  }

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size:24px;
  text-align: center;
  font-style: normal;
 margin-bottom: 0;
 margin: 0 auto;
 margin-top: 20px;
}

.table {
  max-width:1100px;
  flex-wrap: wrap;
  display:flex;
  margin-left: auto;
  margin-right:auto;
  justify-content:space-between;
}

.table__cell {
  width:250px;
  margin-top: 60px;
 }

 .table__heading {
  line-height: 1.15;
  font-size:24px;
  font-weight: 600px;
  margin-top: 0;
  margin-bottom: 20px;
  }

.table__text {
  margin: 20px 0;
  padding: 0;
  line-height:1.2;
  font-size:18px;
  font-weight: normal;
  margin-bottom: 0;
  }

.feynman {
box-sizing: border-box;
padding-top:100px;
min-height:890px;
position: relative;
background-image: url(/images/feynman.png);
background-repeat: no-repeat;
background-size:867px 637px;
background-position: left bottom;
background-color: #f2f2f2;
}

.feynmann__title {
  margin-bottom: 70px;
  width: 648px;
  margin: auto;
  text-align: center;
  font-size: 120px;
  font-style: 600px;
  line-height: 1.15;
  font-weight:bold;
}

.feynmann__subtitle {
  line-height:51px;
  font-size:36px;
  margin: 70px auto;
  text-align: center;
  font-weight: normal;
}

.feynmann__link {
 position: absolute;
 top: 50%;
  line-height:51px;
  font-size:36px;
  right: 48px;
  color:#2f80ed;
 text-decoration: none;
 font-weight: normal;
}

.feynmann__link:after{
  content: '\2192';
  color:#2f80ed;
}

.kaufman {
  position: relative;
 padding: 90px 0 90px;
  color: white;
  background-color:#1f1f1f;
  overflow:hidden;
}

.kaufman__triangle {
  background-size: contain;
  background-image:url(/images/kaufman-triangle.svg);
  width:877px;
  height:877px;
  position: absolute;
  right: -210px;
  top:0;
}

.table__cell_theme_dark {
  font-size:18px;
  width: 200px;
  line-height:1.2;
  margin-top: 80px;
  z-index:1;
 }

 .footer {
  padding-top:60px;
  padding-bottom:40px;
  background-color:  #1f1f1f;
  color:white;
  min-height:350px;
  box-sizing: border-box;
 }

.footer__columns {
  display:flex;
  width:90%;
  margin: 0 auto;
  justify-content: space-between;
  min-height: 250px; 
}

.footer__column {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  background-image: url(/images/logo_place_footer.svg);
  width:228px;
  height:32px;
}

.footer__social-icon {
  position:relative;
  width:16px;
  height:16px;
  background-size: contain;
  padding-right: 10px;
}

.footer__column_content_social {
  }

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content:space-between;
}

.footer__column_content_info {
 }

.footer__column-heading {
  margin-bottom:20px;
  line-height:30px;
  font-weight: bold;
  margin-top:0;
  font-size:18px;
}

.footer__column-links {
  margin-bottom:16px;
  line-height:30px;
  font-size:18px;
 padding-left: 0;
 margin-left: 0;
 display: flex;
 flex-direction: column;
 text-decoration: none;
  color:white;
}

.footer__author {
  color:white;
  font-size:18px;
  line-height:25px;
  margin-bottom:18px;
  margin-top:18px;
  bottom:0;
  left:0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}