.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  min-height: 600px;
  max-height: 756px;
  display:flex;
  height: 100vh;
  position: relative;
   
background-color:#f2f2f2;
}


.logo_place_header img{
  position:absolute;
  top:30px;
  left:64px;
  width:228px;
  height:32px;
}

.header__title {
  display:flex;
  width:730px;
  font-size:102px;
  line-height:96px;
  left:64px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  position:relative;
  font-style: 600px;
}


.header__subtitle {
  position: absolute;
  left:64px;
  width:388px;
  font-size:18px;
  bottom:30px;
  line-height:25px;
  font-style: normal;
}

.header__subtitle__link{

color:#2f80ed;
text-decoration: none;

}

.header__subtitle__link::after{

  content: '\2192';
  color:#2f80ed;
}

.header__main-illustration img{
  position: absolute;
  width:765px;
  height:608px;
  z-index:1;
  border: 0;
  right:0px;
  bottom:0px;
}


.header__square-pic{
height: 568px;
width: 568px;
top:64px;
right:0;
background-color:#2f80ed;
position: absolute;
}



.description {
  margin-top: 100px;
  display: flex;
  place-content: center;
  border:0;
}

.two-columns {
  display: flex;
  width: 80%;

}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-style: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__span-accent span{
  font-weight: bold;
  
  
}


.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 30px;
  
}




.digits{
 position: relative;
 padding-top: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size:60px;
  font-weight: bold;
  margin-left:auto;
  margin-right:auto;
  font-style: 600px;
  line-height: 1.15;
}

.section-subtitle {
  width: 60%;
  padding-top:30px;
  line-height: 34px;
  font-size:24px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-style: normal;
  margin-bottom: 60px;
}

.table {
  max-width:1100px;
  flex-wrap: wrap;
  display:flex;
  margin-left: auto;
  margin-right:auto;
  justify-content:space-between;
}

.table__cell {
  width:250px;
 }


 .table__heading {
  line-height: 1.15;
  font-size:24px;
  font-weight: 600px;
  
}
.table__text {
  
  line-height:1.2;
  font-size:18px;
  font-weight: normal;
}




  
.feinman {
margin-top:100px;
height:790px;
position: relative;
background-image: url(/images/feynman.png);
background-repeat: no-repeat;
background-size:867px 637px;
left:0;

}



.feinmann__title {
  margin-bottom: 70px;
  width: 648px;
  margin: auto;
  text-align: center;
  font-size: 120px;
  font-style: 600px;
  line-height: 1.15;
  font-weight:bold;

}

.feinmann__subtitle {
  line-height:51px;
  font-size:36px;
  margin:auto;
  text-align: center;
  font-weight: normal;
}

.feinmann__link {
 position: absolute;
  margin-top: 50px;
  line-height:51px;
  font-size:36px;
  right: 50px;
  color:#2f80ed;
 text-decoration: none;
 font-weight: normal;
}

.feinmann__link:after{

  content: '\2192';
  color:#2f80ed;
}




.kaufman {
  position: relative;
  padding-bottom:90px;
  color: white;
  background-color:black;
  overflow:hidden;
}

.triangle {
  background-size: contain;
  background-image:url(/images/kaufman-triangle.svg);
  width:877px;
  height:877px;
  position: absolute;
  right: -210px;
  top:0;
}

.table__text_theme_dark{
  text-decoration: none;
  font-style: normal;
   font-weight: normal;
   color:white;
   text-align: left;
}


.table__cell_theme_dark {
  font-size:18px;
  width: 200px;
  line-height:1.2;
  margin-top: 80px;
  z-index:1;
 }


 .footer {
  padding-top:60px;
  padding-bottom:40px;
  background-color: black;
  color:white;
  
}

.footer__columns {
  display:flex;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  justify-content: space-between;

}

.footer__column {
  margin-top:0;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  width:100%;
}

.logo_place_footer {
  background-image: url(/images/logo_place_footer.svg);
  width:228px;
  height:32px;
  left:0;
  top:0;
  position: absolute;
}


.footer__social-icons {
  position: relative;
  width:16px;
  height:16px; 
  background-size: contain;
  
}

.footer__column_content-social {
  margin-bottom:16px;
   margin-left:0;
  margin-right:0;
}

.footer__column_content-info {
 place-content:right;
}

.footer__column-heading {
  font-weight:bold;
  margin-bottom:20px;
  line-height:30px;
  font-weight: bold;
  margin-top:0;
  font-size:18px;
}

.footer__column-links {
  margin-bottom:16px;
  line-height:30px;
  font-size:18px;
 padding-left: 0;
 margin-left: 0;

}


.footer_main_link{
text-decoration: none;
  color:white;
}

.footer__author {
  color:white;
  position: absolute;
  font-size:18px;
  line-height:25px;
  margin-bottom:18px;
  margin-top:18px;
  bottom:0;
  left:0;
  
}
